@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
